body{
  background-color: #fffef8;
}

header{
  min-height: 100vh;
  background-image: url("img/profil.jpg");
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
}
