*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #fffef8;
}

.header-container{
  min-height: 85vh;
  background-image: url("content/sostrene-grene_spring-feelings_5.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header-container h2{
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  color: #fffef8;
  text-align: center;
}

.header-container h4{
  font-family: 'Allura', cursive;
  color: #fffef8;
  font-size: 60px;
  transform: rotate(-6deg);
  text-align: center;
}

.selection-button{
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  font-family: "brandon-grotesque", sans-serif;
  transition: 0.3s;
}

.selection-button:hover{
  background-color: #eae5cf;
}

.nav-list {
  display: flex;
  flex-direction: row;
  grid-gap: 3rem;
}

.main-header-inner {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  padding-right: 12%;
  padding-left: 12%;
  justify-content: space-between;
  text-decoration: none;
}

.nav-list a {
  text-decoration: none;
  justify-content: space-between;
  font-family: var(--ff-body);
  font-size: var(--fs-sm0l);
  color: var(--clr-white);
}

.logo {
  display: inline-block;
  width: 10rem;
  padding: .5rem;
}

section{
  padding: 80px 0;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 70.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products{
  background-color: #fffef8;
  color: rgb(80, 65, 57);
  font-family: "canada-type-gibson", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.products img{
  height: 321px;
}

.jubilee{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(80, 65, 57);
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.jubilee img{
  height: 201px;
}

.txtjubilee{
  width: 70%;
  padding-top: 40px;
}

footer{
  text-align: center;
    padding: 3px;
    background-color: #5b3c11;
    color: white;
    font-family: "brandon-grotesque", sans-serif;
}
