*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #fffef8;
}

.header-container{
  min-height: 85vh;
  background-image: url("content/sostrene-grene_spring-feelings_5.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header-innercontainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.header-container h2{
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  color: #fffef8;
  text-align: center;
}

.header-container h4{
  font-family: 'Allura', cursive;
  color: #fffef8;
  font-size: 60px;
  transform: rotate(-6deg);
  text-align: center;
}

.selection-button-container {
  display: flex;
  justify-content: center;
}

.selection-button{
  display: flex;
  white-space: nowrap;
  background-color: white;
  border: none;
  color: #504139;
  padding: 15px 22px 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -.4px;
  font-weight: bold;
  font-family: "brandon-grotesque", sans-serif;
  transition: 200ms;
  align-items: center;
  gap: 30px;
  border-radius: 2px;
  margin-top: 50px;
}

.selection-button-container img {
  height: 35px;
}

.selection-button:hover{
  background-color: #ebe7d2;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  margin-right: 3rem;

}

.main-navigation {
  text-decoration: none;
  list-style: none;
}

.main-header-inner {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  padding-right: 6%;
  padding-left: 6%;
  align-items: center;

}

.input {
  width: 26.75rem;
  padding: 4px 20px 4px 40px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: rgba(249,247,240, 1);
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url(content/searchicon.png);
  /* background-position: 10px 10px; */
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-list a {
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  font-family: "brandon-grotesque", sans-serif;
  font-size: .8125rem;
  margin: 0 10px;
  color: #504139;
  position: relative;
  padding-top: 22px;
}

.nav-list a::after {
  content: "";
  position: absolute;
  background-color: #504139;
  height: 10px;
  width: auto;
}

.logo {
  display: inline-block;
  margin-top: .5rem;


}

#sos {
  width: 12rem;
  margin-top: 2px;
  margin-right: 2rem;
}

.socials {
  display: flex;
  justify-content: center;
  grid-gap: .5rem;
  margin-left: 2rem;
  text-decoration: none;
  list-style: none;
}

.socials a {
  padding-top: 26px;
}

.icon {
  width: 2rem;
}

.fading-button {
  background:
     linear-gradient(#504139, #504139)
     top /100% var(--d, 0) no-repeat;
  transition: 0.5s;
}
.fading-button:hover {
  --d: 6px;
}

.button {
  position: fixed;
  /* background:url(content/chat-open.png) no-repeat; */

  cursor:pointer;
  width: 0;
  border: none;
  bottom: 2.25rem;
  right: 6.25rem;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;

}

#chat-image {
  width: 3.75rem;
}


section{
  padding: 80px 0;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 70.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.products-containers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-zoom-containers {
  overflow: hidden;
}

.products{
  background-color: #fffef8;
  color: rgb(80, 65, 57);
  font-family: "canada-type-gibson", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.products img{
  height: 321px;
  transform: scale(1.08);
  transition: transform 1000ms ease;
  vertical-align: middle;
}

.products img:hover {
  transform: scale(1);
}

.inspiration{
  background-color: #fffef8;
  color: rgb(80, 65, 57);
  font-family: "canada-type-gibson", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.inspiration img{
  height: 210px;
}

.inspiration p{
  text-align: center;
  font-size: 12px;
  font-family: "brandon-grotesque", sans-serif;
  padding-bottom: 10px;
  color: rgb(80, 65, 57);
}

#inspi p{
  text-align: center;
  font-size: 16px;
  font-family: "brandon-grotesque", sans-serif;
  color: rgb(80, 65, 57);
}

#inspi2 p{
  text-align: center;
  font-size: 16px;
  font-family: "brandon-grotesque", sans-serif;
  color: rgb(80, 65, 57);
}

.container a{
  text-align: center;
  font-size: 12px;
  font-family: "brandon-grotesque", sans-serif;
  padding-bottom: 30px;
  color: rgb(80, 65, 57);
  font-style: bold;
}

.jubilee{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: rgb(80, 65, 57);
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin: 0 200px;
}

.jubilee img{
  height: 201px;
}

.jubilee p{
  font-family: "canada-type-gibson", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.1px;
  line-height: 36px;
}

.txtjubilee{
  width: 70%;
  padding-top: 80px;
}

.jubilee-button{
  background-color: #fffef8;
  color: rgb(80, 65, 57);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-style: bold;
  font-family: "brandon-grotesque", sans-serif;
  transition: 0.3s;
  border: 1px solid rgb(80, 65, 57);
}

.jubilee-button:hover{
  background-color: rgb(80, 65, 57);
  color: #fffef8;
}

.posters{
  background-color: #dce6e3;
  text-align: center;
  align-items: center;
}

.posters .header-one{
  font-family: 'Allura', normal;
  font-weight: lighter;
  font-size: 50px;
  margin-bottom: 10px;
}

.posters .header-two{
  font-family: "brandon-grotesque", sans-serif;
  font-size: 40px;
  font-weight: lighter;
}

.posters button{
  background-color: #dce6e3;
  border: 1px solid #504139;
  color: #504139;
  padding: 15px 32px;
  margin-top: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-style: bold;
  font-weight: normal;
  font-family: "brandon-grotesque", sans-serif;
  transition: 0.3s;
}

.posters button:hover{
  background-color: #504139;
  color: #fffef8;
}

.grid-gallery{
  box-sizing: border-box;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  font-family: "brandon-grotesque", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 70.5rem;
}

.grid-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-row-span-2{
  grid-row: span 2;
  grid-column: span 2;
}

.grid-gallery .pic1{
  margin-bottom: 50px;
}

.grid-gallery .pic3{
  margin-bottom: 50px;
}

.frame{
  background-image: url("content/blade_background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  height: 650px;
}

.news{
  background-color: #fffef8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 210px;
  margin-bottom: 200px;

}

.news h5{
  font-family: "brandon-grotesque", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgb(80, 65, 57);
}

.news img{
  height: 104px;
}

.news p{
  font-family: "canada-type-gibson", sans;
  font-size: 15px;
  font-weight: 400;
  color: #928B86;
}

form.example input[type=text] {
  font-size: 17px;
  float: left;
  width: 538px;
  height: 60px;
  background: rgb(249, 247, 240);
  padding-left: 30px;
  border: none;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 400;
}

form.example button {
  float: left;
  width: 91px;
  height: 60px;
  background: rgb(80, 65, 57);
  color: white;
  border: none;
  cursor: pointer;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.check {
  margin-left: 248px;
  margin-right: 248px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: left;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: "canada-type-gibson", sans;
  font-size: 12px;
  font-weight: 400;
  color: rgb(80, 65, 57);
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fffef8;
  border: solid 1px rgb(80, 65, 57);
}

.check input:checked ~ .checkmark {
  background-color: rgb(80, 65, 57);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}

.check .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list{
  background-color: #efebe4;
  font-family: "brandon-grotesque", sans-serif;
}

.list p{
  font-weight: bold;
}

footer{
  text-align: center;
    padding: 3px;
    background-color: rgb(80, 65, 57);
    color: white;
    font-family: "brandon-grotesque", sans-serif;
}
